/* Reset CSS */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Helvetica, times, serif;
	font-weight: normal;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #e8e8e8;
}
p {
	font-size: 14px;
	color: gray;
}

@media screen and (max-width:719px) {
	#mini-sidebar {
		display: block;
	}
	/*
	#sidebar {
		display: none;
	}*/
	#sidebar {
		position: absolute;
		top: 0;
		left:-190px;
		-webkit-transition: right 0.5s ease-out; 
	}
	#sidebar:hover {
		left: 0px;
	}
	
}

@media screen and (min-width:720px) {
	#mini-sidebar {
		display: none;
	}
	#sidebar {
		display: block;
	}
}

#mini-sidebar {
	width: 100vw;
	height: 30px;
	background: #000;
}
.mini-sidebar h1{
	height: 30px;
	color: white;
	padding: 0 40px;
	vertical-align: middle;
}
.mini-sidebar h1::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
	position: relative;
}
.mini-sidebar {
	height: 100%;
	border-left: solid 1px white;
	border-right: solid 1px white;
	display: inline-block;
}
.fa {
	width: 30px;
	color: white;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
#mini-sidebar::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
	position: relative;
}
#sidebar {
	width: 200px;
	min-height: 200px;
	background: #000;
	border: solid 1px black;
}
.header {
	height: 50px;
	margin: 15px 20px;
}
.header a {
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}
.mark {
	width: 40px;
	height: 40px;
	background:green;
	padding: 5px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}
.mark a {
	color: #fff;
	font-size: 30px;
}
.header::before {
	content: "";
	width: 0;
	height: 100%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
.list {
	padding: 10px 20px;
	border-top: solid 1px #545454;
}
.list a{
	text-decoration: none;
}
.main:hover {
	background: #4d4d4d;
}
#sidebar ul li{
	list-style: none;
}
.list-item {
	margin: 5px 0;
} 
.list-item p:hover {
	color: #fff;
}